body {
    font-family: "Avenir Next";
  }

  *{
    margin:0;
  }
  
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  header{
    height:65px;
    margin-bottom: 100px;
  }

  .headerContainer{
    height:65px;
    width:100%;
    background-color:rgba(34, 49, 52, 0.9);
    position:fixed;
    top:0;
    z-index:0;
  }

  .headerRight{
    float:right;
    width: 33%;
  }

  .headerRight a{
    display: inline-block;
    color:white;
    line-height: 65px;
    text-align: center;
    margin-left:10px;
    padding:0 20px;
    background-color:rgba(82, 93, 95, 0.9);
  }

  .headerRight a:hover{
    background-color:rgba(82, 93, 95, 0.7)
  }

  .headerLeft{
    float:Left;
  }

  .headerLeft a{
    color:white;
    margin-left:40px;
    line-height: 65px;
  }

  .headerContainer{
    height:auto;
    width:100%;
  }

  main{
    height:1000px;
  }

  .textContainer{
    height:500px;
  }

  .leftContainer{
    float:left;
    width:50%;
  } 

  .leftContainer img{
    width:100%;
  } 

  .rightContainer{
    float:right;
    width:50%;
  }

  .mainText{
    padding: 100px 0;
    height:500px;
  }

  .mainText h1{
    text-align: center;
    font-size: 90px;
  }

  .mainText p{
    text-align: center;
    font-size: 24px;
  }

  .topicsContainer{
    width: 100%;
    height: 600px;
    background-color: rgb(178, 241, 220);
  }

  .container{
    margin:20px 30px;
  }

  .topicsContainer h1{
    padding:15px 0;
    border-bottom: 2px solid white;
  }

  .topics{
    display:flex;
    width: 100%;
  }

  .topic{
    height: 220px;
    padding:50px;
    margin:0 20px;
    background-color: white;
    border-radius: 10px;
  }

  .topic img{
    width:auto;
    height: 200px;
  }

  .topic{
    font-size: 24px;
    text-align: center;
  }
